body{
	background-color: #88807B;
	color: #fff;
}

input {
	color: #88807B;
}

button{
	color: #88807B;
}

.thumbail{
	padding: 0px;
}

.thumbnail img { /* //on index and show */
	width: 100%;
}

.thumbnail .caption-full {
	padding: 9px;
}

.delete-form{
	display : inline;
}


.jumbotron{
	color: #fff;
	background-image: url("https://images.unsplash.com/photo-1504851149312-7a075b496cc7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=698&q=80");
	background-position: right 50% bottom 18%;
    -webkit-background-size: cover;
    background-size: cover;
	text-shadow: black 0.2em 0.1em 0.2em;
}